@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Sen", sans-serif;
}

.section-header {
  @apply text-lg font-bold;
}
